@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.banner {
  background-color: #141414;
  padding: 25px;
}

#headshot {
  opacity: 0.5;
  height: auto;
  width: auto;
}

.intro-text,
.type-text,
.name-text {
  position: absolute;
  color: #ffffff;
}

.intro-text {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-text {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.name-text {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.banner-container {
  padding: 0;
}

.quote {
  font-style: italic;
  font-weight: bold;
}
