@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

.circle-image {
  height: auto;
  width: 70%;
  border-radius: 50%;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

#type-text {
  font-style: italic;
  font-weight: normal;
}

.quote,
.copy-source {
  font-style: italic;
  font-weight: bold;
}

.icon {
  display: inline;
  height: 200px;
  width: 100px;
  font-size: 60px;
  line-height: 60px;
}

.section {
  margin: 3em 0em;
}

.skill {
  margin: 1.5em 0em;
}

.intro-text,
.contact-text,
.about-me-text {
  font-weight: normal;
}

.contact-text {
  margin-top: 1.5em;
}

.social-media-icon-links {
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  i {
    margin: 0.5em;
  }
}

.social-media-icon-links:hover a {
  opacity: 0.3;
}

.social-media-icon-links:hover a:hover {
  color: #FB0106FF;
  opacity: 1;
}

.about-me-quote,
.testimonial-quote {
  font-style: italic;
  i {
    color: #B3B3B2FF;
  }
}

.about-me-quote {
  margin-top: 1.0em;
}

#justice-video iframe {
  width: 100%;
}

.testimonial-quote {
  margin-top: 2.0em;
}

.question {
  font-weight: bold;
}

.table th {
  border-top: none !important;
}

.graph {
  width: 100%;
  height: auto;
}

.role {
  font-weight: 200;
}

.company {
  font-weight: bold;
}

#resume-contact-btn {
  margin-top: 2em;
}

p, table {
  font-weight: 200;
}

ul, li {
  font-weight: 200;
}

// BLOG
.fm-post-image {
  display: none;
}

.fm-post {
  padding: 20px 0px;
}

.fm-post-read-more {
  color: #000000;
}

.fm-medium-profile {
  padding: 20px 0px;
  text-align: center;
  font-size: 24px;
}


#experience-links {
  a:hover {
    text-decoration: none;
  }
}
