#experience-links
  .col.text-center
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to '#justice' do
            %span.d-block.d-md-inline-block Justice by
            %span.d-block.d-md-inline-block Iron Tree
        %p.card-text
          Cofounder & creator
    .card.mb-3
      .card-body
        %h3.card-title
          %a{ href: '#intrinio' }Intrinio
        %p.card-text
          Software engineer
    .card.mb-3
      .card-body
        %h3.card-title
          %a{ href: '#ticketfire' }TicketFire
        %p.card-text
          Software engineer
    .card.mb-3
      .card-body
        %h3.card-title
          %a{ href: '#mentorcliq' }MentorcliQ
        %p.card-text
          Director of Higher Education
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to '#baml' do
            %span.d-block.d-md-inline-block Bank of America
            %span.d-block.d-md-inline-block Merrill Lynch
        %p.card-text
          Assistant Vice President
