%h5.text-center 2018
%br
%table.table
  %thead
    %tr
      %th Goal
      %th Progress
      %th Est. completion
  %tbody
    %tr
      %td Assemble Porsche 911 GT3 RS model
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '100', role: 'progressbar', style: 'width: 100%' }
      %td March 2018
    %tr
      %td Re-balance stock portfolio
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '100', role: 'progressbar', style: 'width: 100%' }
      %td March 2018
    %tr
      %td Re-build/upgrade my desktop PC
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '100', role: 'progressbar', style: 'width: 100%' }
      %td April 2018
    %tr
      %td Build something using Raspberry Pi
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '40', role: 'progressbar', style: 'width: 40%' }
      %td June 2018
    %tr
      %td Write blog post series
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '10', role: 'progressbar', style: 'width: 10%' }
      %td July 2018
    %tr
      %td Get a foundation for Elixir and Phoenix
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '100', role: 'progressbar', style: 'width: 100%' }
      %td December 2018
    %tr
      %td Get my skydiving license
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '0', role: 'progressbar', style: 'width: 0%' }
      %td Summer 2018
    %tr
      %td Go golfing 20 times
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '90', role: 'progressbar', style: 'width: 90%' }
      %td Winter 2018
    %tr
      %td Visit all my good friends from middle and high school
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '90', role: 'progressbar', style: 'width: 90%' }
      %td Year end
    %tr
      %td Read 12 books
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '80', role: 'progressbar', style: 'width: 80%' }
      %td Year end
    %tr
      %td No regrets: leave a positive impact on others
      %td Always in progress
      %td Life

%br
%br
%h5.text-center 2019
%br
%table.table
  %thead
    %tr
      %th Goal
      %th Progress
      %th Est. completion
  %tbody
    %tr
      %td Travel to a new foreign country
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '100', role: 'progressbar', style: 'width: 100%' }
      %td Spring 2018
    %tr
      %td Join a rec sports team
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '0', role: 'progressbar', style: 'width: 0%' }
      %td Summer 2018
    %tr
      %td Start the skydiving license journey
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '0', role: 'progressbar', style: 'width: 0%' }
      %td Summer 2018
    %tr
      %td Expermiment with Electron
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '12.5', role: 'progressbar', style: 'width: 12.5%' }
      %td Summer 2018
    %tr
      %td Play 8 new board games
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '12.5', role: 'progressbar', style: 'width: 12.5%' }
      %td Fall 2018
    %tr
      %td Visit all my good friends from middle and high school
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '40', role: 'progressbar', style: 'width: 40%' }
      %td Year end
    %tr
      %td Buy a project car
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '10', role: 'progressbar', style: 'width: 10%' }
      %td Year end
    %tr
      %td Read 12 books
      %td
        .progress
          .progress-bar{ 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '25', role: 'progressbar', style: 'width: 25%' }
      %td Year end
    %tr
      %td Open doors for others that were closed for me
      %td Always in progress
      %td Life
