%p
  From flipping burgers at the neighborhood DQ to Wall Street. I've been
  working since I was 15 years old, and it all started at the local DQ
  Grill & Chill. Looking back, it was a blast working with friends and
  making my own money. After DQ, I worked at Papa John's, literally
  "making dough".
%p
  Upon graduating high school, I moved from Tampa to Orlando to attend
  the University of Central Florida on scholarship. I started as an Accounting
  major. I was convinced that with my math skills, it was all but
  decided for me. Then, I stumbled upon an organization called the Young
  Investors Club where I was bit by the "stock market bug". I quickly
  changed my major to Finance with a certificate in investments. Soon
  after, I landed a paid internship at a local Scottrade branch (brokerage
  firm) in my sophomore year. I was fully immersed in the finance world,
  I was studying it, working in it, and loving it! For the summer of
  my junior year, I took a leave of absence from Scottrade to move to
  New York City for an internship with Bank of America Merrill Lynch. At
  this point I was only confirming what I already knew: I wanted to live
  and work on Wall Street. After that summer, the structured products
  team offered me a full-time position. That senior year was a blast.
  Once I had my degree in hand, I sold my soul, threw on a suit, and
  caught the next flight to NYC to start my new life in the "real world".
%p
  I was in the honeymoon phase and loving every second of it. My summer
  internship had been a rotation program, so I had the opportunity to
  experience many different teams, but now I was on the structured
  products team full-time. What is a structured product? The one-liner
  on the brochure might read something like,
%p
  %span{ style: 'font-style: italic;' }
    "Structured products are made up of several equity, commodity,
    FX, and interest rate derivatives packaged with senior unsecured
    debt to provide investors alternative investment vehicles to help
    them meet and exceed their financial goals.""
%p
  Right? What the heck does all that even mean? Here's how I typically
  explain it. Lets take a more normal investment, such as buying 1
  share of Apple Inc. (aapl). If you bought that share when Apple was at
  $100, and then it goes up to $105, you as an investor made a 5%
  return. Apple stock went up 5%, you made 5%. This is a
  %span{ style: 'font-style: italic;' }
    linear payoff.
  The investment went up 5%, you made 5%. That payoff looks like this:
%p.text-center
  = image_tag 'linear_graph.png', id: 'linear_graph', class: 'graph'
%p
  Now, back to structured products. By doing some super complicated
  and magical financial sorcery, we created products that turned that
  linear payoff into something more exotic like this:
%p.text-center
  = image_tag 'arn_graph.png', id: 'arn_graph', class: 'graph'
%p
  or this:
%p.text-center
  = image_tag 'step_up_graph.png', id: 'step_up_graph', class: 'graph'
%p
  Now if Apple went up 5%, you could make 15%. Or if Apple was simply
  up by any amount after 1 year, you could make 30% for example. Pretty
  cool, right?
%p
  %small{ style: 'font-style: italic;' }
    These are hypothetical examples and do not reflect actual
    products or investment advice.
%p
  So what did I do? I would model and price these products by analyzing
  roughly 15 different input variables (read: buzzwords) such as the
  delta, vega, and strike price to determine the present value of the
  structured product, given the current stock market conditions at that
  time (interest rates, trading volumes, etc.). See, I told you it was
  magic.
%p
  So there I was, making more money than I realistically knew how to spend 
  wisely in one of the most highly sought after destinations in the world,
  New York City. My parents were proud. My peers were envious. By most
  definitions of where I'm from, I had more than made it.
%p
  But I hated it. I left.
%p
  I wish I could say that it was just that quick and easy, I didn't like
  it so I left. But the truth is it took me a couple of years to muster
  the strength to toss away everything I had worked so hard to get my
  entire life. To start over. But really, it was a quite the journey to
  that final decision. I remember, my last day of work was on a Thursday,
  and the next day I was on a flight at 10:30 am back to Florida to take
  some time off for a few months.
%p
  I then joined a fellowship called
  = succeed '.' do
    %a{ href: 'https://ventureforamerica.org/', target: '_blank' } Venture For America (VFA)
  I encourage you to check them out, but the short of it is they're a
  non-profit organization dedicated to the revitalization of the economy
  by recruiting top talent to join startups outside the major hubs (i.e.
  San Francisco, New York, etc.) in places such as Columbus, Pittsburgh,
  and Philadelphia. By doing this, fellows gain invaluable experience
  on what it takes to start a company. After the fellowship, VFA has
  ample resources to help fellows start their own venture, and thereby
  creating more jobs in the economy.
%p
  This is what brought me to Columbus, Ohio.
