%p
  Retired corporate mercenary turned Full-Stack Developer at
  = succeed '.' do
    %a{ href: 'https://ticketfire.com', target: '_blank' } TicketFire
  After moving to Columbus, I spent a year doing my part to give back by
  working with organizations dedicated to helping first-generation students
  and students of underrepresented backgrounds get into college. By
  leveraging technology and mentorship, we were able to help thousands of
  students get into college who otherwise likely would have never gone.
  As a first-generation college student myself, this was very fulfilling
  and I was happy to feel like I was making a difference.
%p
  Over time, as I continued to work more with technology, I realized my
  previous coding experience was something I was constantly gravitating
  back towards, so I decided to upgrade it from a hobby to my sole focus.
%p
  I began coding with every minute of my spare time and teaching myself
  new languages. To top it all off, I received a full scholarship to attended
  a coding bootcamp,
  = succeed ',' do
    %a{ href: 'https://www.techtalentsouth.com/', target: '_blank' } Tech Talent South
  to meet other people looking to change career paths and to take my
  skills even further.
%p
  From there, I landed into my current gig, where I am a Full-Stack
  Software Engineer at
  %a{ href: 'https://ticketfire.com', target: '_blank' } TicketFire
  where we are doing some really cool things!
%p
  With TicketFire you can buy, sell, and digitize your event tickets. That
  means you can take a picture from our mobile apps of that Columbus Crew
  ticket you have (or should have, go Crew!), and text it to your friends.
%p
  From a technology perspective, it's even more exciting. Because we scan
  images for event information to turn into tickets, because at their core
  tickets are a digital asset, and because we have a live exchange/marketplace
  with 100,000+ events across 5,000+ venues around the world, I've
  been lucky enough to work on some very challenging and rewarding projects.
  The algorithms, 3rd party API integrations, and sheer size of the platform
  all make it a lot of fun to work on. Being one of three developers, I've
  been able to take on a lot of responsibility and leadership very quickly.
  I'm also very fortunate to be able to work with two of the best developers
  and mentors that Columbus (and beyond) has to offer,
  %a{ href: 'https://lscott3.com/', target: '_blank' } Larry Scott
  and
  = succeed '.' do
    %a{ href: 'https://www.linkedin.com/in/dscotts3/', target: '_blank' } Dwight Scott
