%p#intrinio
  I've always wanted to get back to the finance world I left behind. Longing
  for a new professional challenge to coincide with my move, I landed a new gig
  as a Software Engineer at Intrinio, a fintech startup working to democratize
  financial data, based out of my hometown, Tampa, Florida.
%p
  About 6 months later, some life events brought me back home to Tampa, Florida.
  Go Lightning ⚡️.
%p
  Transitioning into big data, a M-A-S-S-I-V-E platform, and new technologies
  has been a blast. At Intrinio we use several languages and frameworks
  including, but certainly not limited to:
%p
  Frontend
  %ul
    %li Angular
    %li CoffeeScript
    %li CSS
    %li HTML
    %li JS
%p
  Backend
  %ul
    %li Elixir
    %li Padrino
    %li Phoenix
    %li Ruby
%p
  We build APIs, Excel plugins, Google Sheets plugins, and more that make it easy for
  enterprises, developers, funds, etc. to get the data and licensing they need.
  We've become experts in the
  %a{ href: 'http://blog.intrinio.com/intrinio-data-journey/', target: '_blank' }Data Journey
  and it's exciting to contribute to such explosive growth here at Intrinio.
%p
  Currently, I'm working on long-term project that involves building several new
  products around Cryptocurrencies. Did you know that Cat Coins are
  %em actually
  a thing? I certainly didn't.
%p
  A few highlights of what I've accomplished so far:
  %ul
    %li
      Using a proprietary and custom built ETL platform, I wrote integrations
      with 3rd parties to normalize millions of data points, daily.
    %li
      Developed a real-time integration using Elixir and Phoenix to stream, on
      average, ~10,000 messages per second including Cryptocurrency trades and
      Cryptocurrency book updates for more than 1,000 Cryptocurrency pairs
      across 20+ exchanges.
    %li
      Implemented a new authetication method, Cryptocurrency real-time data
      streams, and Forex real-time data streams in our SDKs using Java, C#,
      Ruby, Python, and JavaScript.
    %li
      Created a distributed computing setup with Elixir to more efficiently
      stream thousands of stock prices per second to users at scale.
    %li
      Developed several new data feeds for users such as Cryptocurrencies,
      Forex prices, Municipality Financials, and more. The process of building
      a data feed typically consists of integrating with 3rd parties to consume
      the data, building the endpoints, documentation, unit tests, integration
      tests, and updating SDKs.
    %li
      Built a
      %a{ href: 'https://github.com/intrinio/technical-analysis', target: '_blank' }technical-analysis gem
      , an open-sourced Ruby library for performing technical analysis on stock prices and
      other data sets.
    %li
      Built API endpoints, search engine, and interface to search over 1,000,000
      8-K filings from the SEC. For example, a user could search for something
      like
      %em "((lawsuit OR fraud) AND Q4 NOT 2017)"
      and the endpoints would return all 8-Ks matching the specified logic
      including text snippets where the matches were found.
%p#justice
  One of my life goals is to open doors for others. Another way to think of this
  is to provide more opportunities to others to better themselves.

  In pursuit of this, I moved to LA and I've joined
  = succeed "." do
    %a{ href: 'https://irontreeca.com', target: '_blank' }Iron Tree
  With Iron Tree I cofounded and built
  %a{ href: 'https://justice.irontreeca.com', target: 'blank' }Justice by Iron Tree
  which is a platform that helps to erase unjust cannabis records. Our
  automated and simplified process saves victims weeks of stress and thousands
  of dollars in legal fees.
%p
  #justice-video
    <iframe width="853" height="480"
    src="https://www.youtube.com/embed/CZTwJlIw2AA?rel=0&amp;showinfo=0"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
    picture-in-picture" allowfullscreen></iframe>
