%p
  Retired corporate mercenary turned Full-Stack Developer at
  = succeed '.' do
    %a{ href: 'https://intrinio.com', target: '_blank' } Intrinio
  After moving to Columbus, I spent a year doing my part to give back by
  working with organizations dedicated to helping first-generation students
  and students of underrepresented backgrounds get into college. By
  leveraging technology and mentorship, we were able to help thousands of
  students get into college who otherwise likely would have never gone.
  As a first-generation college student myself, this was very fulfilling
  and I was happy to feel like I was making a difference.
%p
  Over time, as I continued to work more with technology, I realized my
  previous coding experience was something I was constantly gravitating
  back towards, so I decided to upgrade it from a hobby to my sole focus.
%p
  I began coding with every minute of my spare time and teaching myself
  new languages. To top it all off, I received a full scholarship to attended
  a coding bootcamp,
  = succeed ',' do
    %a{ href: 'https://www.techtalentsouth.com/', target: '_blank' } Tech Talent South
  to meet other people looking to change career paths and to take my
  skills even further.
%p
  From there, I landed a gig at
  %a{ href: 'https://ticketfire.com', target: '_blank' } TicketFire
  where I was a Full-Stack Software Engineer working on some really cool things!
%p
  With TicketFire you can buy, sell, and digitize your event tickets. That
  means you can take a picture from our mobile apps of that Columbus Crew
  ticket you have (or should have, go Crew!), and text it to your friends.
%p
  From a technology perspective, it's even more exciting. Because we scanned
  images for event information to turn into tickets, because at their core
  tickets are a digital asset, and because we have a live exchange/marketplace
  with 100,000+ events across 5,000+ venues around the world, I've
  been lucky enough to work on some very challenging and rewarding projects.
  The algorithms, 3rd party API integrations, and sheer size of the platform
  all made it a lot of fun to work on. Being one of three developers, I've
  been able to take on a lot of responsibility and leadership very quickly.
  I'm also very fortunate to be able to work with two of the best developers
  and mentors that Columbus (and beyond) has to offer,
  %a{ href: 'https://lscott3.com/', target: '_blank' } Larry Scott
  and
  = succeed '.' do
    %a{ href: 'https://www.linkedin.com/in/dscotts3/', target: '_blank' } Dwight Scott
%p
  Then life brought me to Cincinnati, Ohio. I've always wanted to get back to
  the finance world I left behind. Longing for a new professional challenge to
  coincide with my move, I landed a new gig as a Software Engineer at Intrinio,
  a fintech startup working to democratize financial data, based out of my
  hometown, Tampa, Florida.
%p
  Transitioning into big data, a M-A-S-S-I-V-E platform, and new technologies
  has been a blast. At Intrinio we use several languages and frameworks
  including, but certainly not limited to:
%p
  Frontend
  %ul
    %li Angular
    %li CoffeeScript
    %li CSS
    %li HTML
    %li JS
%p
  Backend
  %ul
    %li Elixir
    %li Padrino
    %li Phoenix
    %li Ruby
%p
  We build APIs, Excel plugins, Google Sheets plugins, and more that make it easy for
  enterprises, developers, funds, etc. to get the data and licensing they need.
  We've become experts in the
  %a{ href: 'http://blog.intrinio.com/intrinio-data-journey/', target: '_blank' }Data Journey
  and it's exciting to contribute to such explosive growth here at Intrinio.
%p
  Currently, I'm working on long-term project that involves building several new
  products around Cryptocurrencies. Did you know that Cat Coins are
  %em actually
  a thing? I certainly didn't.
%p
  A few highlights of what I've accomplished so far:
  %ul
    %li
      Using a proprietary and custom built ETL platform, I wrote integrations
      with 3rd parties to normalize millions of data points, daily.
    %li
      Developed a real-time integration using Elixir and Phoenix to stream, on
      average, ~10,000 messages per second including Cryptocurrency trades and
      Cryptocurrency book updates for more than 1,000 Cryptocurrency pairs
      across 20+ exchanges.
    %li
      Implemented a new authetication method, Cryptocurrency real-time data
      streams, and Forex real-time data streams in our SDKs using Java, C#,
      Ruby, Python, and JavaScript.
    %li
      Created a distributed computing setup with Elixir to more efficiently
      stream thousands of stock prices per second to users at scale.
    %li
      Developed several new data feeds for users such as Cryptocurrencies,
      Forex prices, Municipality Financials, and more. The process of building
      a data feed typically consists of integrating with 3rd parties to consume
      the data, building the endpoints, documentation, unit tests, integration
      tests, and updating SDKs.
    %li
      Built a
      %a{ href: 'https://github.com/intrinio/technical-analysis', target: '_blank' }technical-analysis gem
      , an open-sourced Ruby library for performing technical analysis on stock prices and
      other data sets.
