%svg{:height => "420", :width => "640", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  / Created with SVG-edit - http://svg-edit.googlecode.com/
  %g{:display => "inline"}
    %title Graph lines
    %line#svg_8{:fill => "none", :stroke => "#007bff", "stroke-width" => "5", :x1 => "269", :x2 => "269", :y1 => "333.40909", :y2 => "200.44969"}
    %line#svg_10{:fill => "none", :stroke => "#007bff", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "5", :x1 => "266.43941", :x2 => "360.75835", :y1 => "202.04547", :y2 => "202.04547"}
    %line#svg_11{:fill => "none", :stroke => "#007bff", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "5", :x1 => "358.86365", :x2 => "458.55685", :y1 => "202.80304", :y2 => "103.10984"}
  %g{:display => "inline"}
    %title Graph axis
    %g#svg_6
      %text#svg_4{:fill => "#000000", "font-family" => "Sans-serif", "font-size" => "24", :stroke => "#000000", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "0", "text-anchor" => "middle", :x => "349.69934", "xml:space" => "preserve", :y => "398.34849"} Stock price
      %text#svg_3{:fill => "#000000", "font-family" => "Sans-serif", "font-size" => "24", :stroke => "#000000", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "0", "text-anchor" => "middle", :x => "85.42424", "xml:space" => "preserve", :y => "197.63636"} Investor profit
      %g#svg_5
        %line#svg_1{:fill => "none", :stroke => "#000000", "stroke-width" => "8", :x1 => "205", :x2 => "205", :y1 => "39.78788", :y2 => "339.10042"}
        %line#svg_2{:fill => "none", :stroke => "#000000", "stroke-width" => "8", :transform => "rotate(90 351,335.2890930175782) ", :x1 => "351", :x2 => "351", :y1 => "185.63161", :y2 => "484.94416"}
