body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif; }

h1, h2 {
  font-weight: bold; }

.circle-image {
  height: auto;
  width: 70%;
  border-radius: 50%;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 5px 0px black;
  box-shadow: 2px 2px 5px 0px black; }

#type-text {
  font-style: italic;
  font-weight: normal; }

.quote,
.copy-source {
  font-style: italic;
  font-weight: bold; }

.icon {
  display: inline;
  height: 200px;
  width: 100px;
  font-size: 60px;
  line-height: 60px; }

.section {
  margin: 3em 0em; }

.skill {
  margin: 1.5em 0em; }

.intro-text,
.contact-text,
.about-me-text {
  font-weight: normal; }

.contact-text {
  margin-top: 1.5em; }

#type-text {
  font-style: italic;
  font-weight: normal; }

#name {
  font-size: 5rem;
  color: #007bff;
  font-family: 'Bangers'; }

.social-media-icon-links a {
  color: inherit; }

.social-media-icon-links a:hover {
  text-decoration: none; }

.social-media-icon-links i {
  margin: 0.5em; }

.social-media-icon-links:hover a {
  opacity: 0.3; }

.social-media-icon-links:hover a:hover {
  color: #FB0106FF;
  opacity: 1; }

.about-me-quote,
.testimonial-quote {
  font-style: italic; }
  .about-me-quote i,
  .testimonial-quote i {
    color: #B3B3B2FF; }

.about-me-quote {
  margin-top: 1.0em; }

#justice-video iframe {
  width: 100%; }

.testimonial-quote {
  margin-top: 2.0em; }

.question {
  font-weight: bold; }

.table th {
  border-top: none !important; }

.graph {
  width: 100%;
  height: auto; }

.role {
  font-weight: 200; }

.company {
  font-weight: bold; }

#resume-contact-btn {
  margin-top: 2em; }

p, table {
  font-weight: 200; }

ul, li {
  font-weight: 200; }

.fm-post-image {
  display: none; }

.fm-post {
  padding: 20px 0px; }

.fm-post-read-more {
  color: #000000; }

.fm-medium-profile {
  padding: 20px 0px;
  text-align: center;
  font-size: 24px; }

#experience-links a:hover {
  text-decoration: none; }

.hover-effect {
  /* `border-box`... ALL THE THINGS! */
  /**
   * Tooltip Styles
   */
  /* Base styles for the element that has a tooltip */
  /* Base styles for the entire tooltip */
  /* Show the entire tooltip on hover and focus */
  /* Base styles for the tooltip's directional arrow */
  /* Base styles for the tooltip's content area */
  /* Directions */
  /* Top (default) */
  /* Horizontally align top/bottom tooltips */
  /* Left */
  /* Bottom */
  /* Right */
  /* Move directional arrows down a bit for left/right tooltips */
  /* Vertically center tooltip content for left/right tooltips */ }
  .hover-effect html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .hover-effect *,
  .hover-effect *:before,
  .hover-effect *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }
  .hover-effect body {
    margin: 64px auto;
    text-align: center;
    font-size: 100%;
    max-width: 640px;
    width: 94%; }
  .hover-effect a:hover {
    text-decoration: none; }
  .hover-effect header,
  .hover-effect .demo,
  .hover-effect .demo p {
    margin: 4em 0;
    text-align: center; }
  .hover-effect [data-tooltip],
  .hover-effect .tooltip {
    position: relative;
    cursor: pointer; }
  .hover-effect [data-tooltip]:before,
  .hover-effect [data-tooltip]:after,
  .hover-effect .tooltip:before,
  .hover-effect .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none; }
  .hover-effect [data-tooltip]:hover:before,
  .hover-effect [data-tooltip]:hover:after,
  .hover-effect [data-tooltip]:focus:before,
  .hover-effect [data-tooltip]:focus:after,
  .hover-effect .tooltip:hover:before,
  .hover-effect .tooltip:hover:after,
  .hover-effect .tooltip:focus:before,
  .hover-effect .tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .hover-effect .tooltip:before,
  .hover-effect [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: ""; }
  .hover-effect .tooltip:after,
  .hover-effect [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 0.3rem; }
  .hover-effect [data-tooltip]:before,
  .hover-effect [data-tooltip]:after,
  .hover-effect .tooltip:before,
  .hover-effect .tooltip:after,
  .hover-effect .tooltip-top:before,
  .hover-effect .tooltip-top:after {
    bottom: 100%;
    left: 50%; }
  .hover-effect [data-tooltip]:before,
  .hover-effect .tooltip:before,
  .hover-effect .tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: rgba(51, 51, 51, 0.9); }
  .hover-effect [data-tooltip]:after,
  .hover-effect .tooltip:after,
  .hover-effect .tooltip-top:after {
    margin-left: -80px; }
  .hover-effect [data-tooltip]:hover:before,
  .hover-effect [data-tooltip]:hover:after,
  .hover-effect [data-tooltip]:focus:before,
  .hover-effect [data-tooltip]:focus:after,
  .hover-effect .tooltip:hover:before,
  .hover-effect .tooltip:hover:after,
  .hover-effect .tooltip:focus:before,
  .hover-effect .tooltip:focus:after,
  .hover-effect .tooltip-top:hover:before,
  .hover-effect .tooltip-top:hover:after,
  .hover-effect .tooltip-top:focus:before,
  .hover-effect .tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); }
  .hover-effect .tooltip-left:before,
  .hover-effect .tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto; }
  .hover-effect .tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: rgba(51, 51, 51, 0.9); }
  .hover-effect .tooltip-left:hover:before,
  .hover-effect .tooltip-left:hover:after,
  .hover-effect .tooltip-left:focus:before,
  .hover-effect .tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px); }
  .hover-effect .tooltip-bottom:before,
  .hover-effect .tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%; }
  .hover-effect .tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: rgba(51, 51, 51, 0.9); }
  .hover-effect .tooltip-bottom:hover:before,
  .hover-effect .tooltip-bottom:hover:after,
  .hover-effect .tooltip-bottom:focus:before,
  .hover-effect .tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    transform: translateY(12px); }
  .hover-effect .tooltip-right:before,
  .hover-effect .tooltip-right:after {
    bottom: 50%;
    left: 100%; }
  .hover-effect .tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: rgba(51, 51, 51, 0.9); }
  .hover-effect .tooltip-right:hover:before,
  .hover-effect .tooltip-right:hover:after,
  .hover-effect .tooltip-right:focus:before,
  .hover-effect .tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    transform: translateX(12px); }
  .hover-effect .tooltip-left:before,
  .hover-effect .tooltip-right:before {
    top: 3px; }
  .hover-effect .tooltip-left:after,
  .hover-effect .tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px; }

/* ------------------------------------------------------------------------- */
/*|                             FLOAT SHADOW                                |*/
/* --------------------------------------------------------------------------*/
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */ }

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }
