.container
  .section
    .row
      .col-12.col-md-6.offset-md-3
        .text-center
          %h1
            About me
  .section.about-me-summary
    .row
      .col-12.col-md-8.offset-md-2
        %h3
          TLDR
        %p.about-me-text
          A Florida native currently residing in Columbus, Ohio, my name is
          Alexander Smith (Alex).
  .row
    .col
      %hr
  .section.about-me-past
    .row
      .col-12.col-md-8.offset-md-2
        %h3
          Past
        %p.about-me-quote
          %i.fa.fa-quote-left.fa-3x.fa-pull-left
          You don't know where you're going until you know where you've been
        %br
        %p.about-me-text
          From flipping burgers at the neighborhood DQ to Wall Street.
  .row
    .col
      %hr  
  .section.about-me-present  
    .row
      .col-12.col-md-8.offset-md-2
        %h3
          Present
        %p.about-me-quote
          %i.fa.fa-quote-left.fa-3x.fa-pull-left
          Our DNA is 96% chimpanzee. Is that even worth arguing?! If I gave
          you a sandwich that was filled with 96% sh*t and 4% ham, would you
          be willing to consider that a ham sandwich? So If you ever start
          taking things too seriously, just remember that we are talking monkeys
          on an organic spaceship flying through the universe. - Joe Rogan
        %p.about-me-text
          %span
            Retired corporate mercenary turned Full-Stack Developer at
            %a{ href: 'https://ticketfire.com' } TicketFire.
  .row
    .col
      %hr
  .section.about-me-future
    .row
      .col-12.col-md-8.offset-md-2
        %h3
          Future
        %p.about-me-quote
          %i.fa.fa-quote-left.fa-3x.fa-pull-left
          I don't regret the things I've done, only the things I've never tried
        %br
        %p.about-me-text
          No clue
