.section
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        Just a few things I've written
      %p
        I wouldn't say that I enjoy writing, but I do enjoy trying to get better at writing. It's
        something I definitely should be doing more.
.row
  .col
    %hr
.section
  .row
    .col-12.col-md-8.offset-md-2
      #fm-medium-embed
      %script{src: "//data.feedmirror.com/embed.js"}
      :javascript
        var fmSettings = {
          feedURL: 'https://data.feedmirror.com/-LRsOVd9J_2cFSC68W1O.json',
          integration: 'medium-embed',
          linkOutText: 'Read more',
          linkToMediumProfileText: 'Subscribe on Medium',
          postsCount: 3,
          openNewTab: true,
          element: 'fm-medium-embed'
        };
        feedmirror.initialize(fmSettings);
