.container
  .section.banner
    .row
      .col-12.col-md-6.offset-md-3
        .text-center
          = image_tag 'headshot.png', id: 'headshot'
    .row
      .col-12.col-md-6.offset-md-3.text-center
        .h2#intro-text
          I've been called many things...
        .h1#type-text
        .h2#name-text
          But you can call me Alex
  .row
    .col
      %hr
  .section.introduction
    .row
      .col-12.col-md-8.offset-md-2
        %h1
          What do I do?
        %h3.intro-text.skill
          I solve problems and increase efficiency for clients via part-time,
          project-based engagements.
  .section.skills
    .row
      .macros.col-md-8.offset-md-2
        %h1
          How do I do it?
        %br
        .row.skill
          .col-xs-2.col-md-2
            %i.fa.fa-code.fa-fw.icon{ style: 'color: #FB0106FF;' }
          .col-xs-10.col-md-10
            .skill-text
              %h3
                I develop software to...
              %p
                Do everything. I build web-scrapers to import data from a website,
                such as your competitor. I build websites. I build custom API
                integrations to enhance your existing technology with 3rd party
                services. My tools of choice include Ruby on Rails, Javascript,
                HTML, CSS, SQL, and more! 
        .row.skill
          .col-xs-2.col-md-2
            %i.fa.fa-file-excel-o.fa-fw.icon{ style: 'color: #2a754bff;' }
          .col-xs-10.col-md-10
            .skill-text
              %h3
                I write Microsoft Excel Macros to...
              %p
                Automatically import data from websites or other files, generate
                reports, send emails, and perform those pesky reptitive tasks
                so you can spend less time in spreadsheets fighting against
                updates and formatting, and more time focusing on your business.
                Don't budget an entire salary for a new hire, automate your
                entire process with a single click!
        .row.skill
          .col-xs-2.col-md-2
            %i.fa.fa-line-chart.fa-fw.icon{ style: 'color: #0F7FFEFF;' }
          .col-xs-10.col-md-10
            .skill-text
              %h3
                I create financial models to...
              %p
                Prepare you for your next fundraising round and investor meetings.
                Want to forecast your financials for next year or user adoption?
                I'll build you models to answer those tough "what if" questions
                about the future. I can even include the information formatted
                in your presentations and have it update itself automatically. 
        .row.skill
          .col-xs-2.col-md-2
            %i.fa.fa-pencil.fa-fw.icon{ style: 'color: #FFCC00;' }
          .col-xs-10.col-md-10
            .skill-text
              %h3
                I can teach you more about...
              %p
                The financial markets. Have you ever felt intimated by the Wall
                Street buzz words and the world of investing? I can break it
                down for you. Looking to break into Software Development? I can
                teach how you to get started. Confused about how much a
                contractor is charging you to build your MVP? I can offer a
                second opinion.
  .row
    .col
      %hr
  .section.contact-me
    .row
      .col-12.col-md-8.offset-md-2
        %h1
          How do you get started?
        %h3.contact-text
          Contact me by quickly filling out the 4 questions below, and I'll get
          back to you within 24 hours!
        .typeform-widget{ "data-hide-footer" => "true", "data-hide-headers" =>"true", "data-transparency" => "50", "data-url" => "https://alexsmith5.typeform.com/to/KHwlzl", style: "width: 100%; height: 500px;" }
        :javascript
          (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
  .row
    .col
      %hr
  .section.footer
    .row
      .col-12.col-md-6.offset-md-3.text-center
        %span
          %p.copy-source
            Source
            %a{ href: 'https://github.com/atsmith813/personal_website' } Github
            %br
            Copyright ©2017 Alexander Smith
        %br
        %p
          I'm not very active on social media, but smash the follow buttons to
          stay updated on my rare and exclusive posts!
        %p
          %span
            %p.social-media
              %a{ href: 'https://github.com/atsmith813' }  
                %i.fa.fa-github.fa-2x
              %a{ href: 'https://twitter.com/A_Smith223' }
                %i.fa.fa-twitter.fa-2x
              %a{ href: 'https://www.instagram.com/allthingssmurff/' }
                %i.fa.fa-instagram.fa-2x
              %a{ href: 'https://www.facebook.com/alex.smiff.7' }
                %i.fa.fa-facebook.fa-2x
              %a{ href: 'https://medium.com/@A_Smith223' }  
                %i.fa.fa-medium.fa-2x
