.content-wrapper
  .row.banner
    .container
      .headshot.text-center
        = image_tag 'headshot.png', id: 'headshot'
      .intro-text.h1
        I've been called many things...
      .name-text.h1
        But you can call me Alex
        
