.section#mentorship
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        Are you looking for a mentor to help you level up?
      %p
        %h3.contact-text.hover-effect
          Want to learn more about the financial markets, working on Wall Street,
          or Software Engineering? I'd love to help!
          %a{ href: 'mailto:workwithalexsmith@gmail.com', target: '_blank', "data-tooltip" => "I'll get back to you witin 24 hours" } Send me an email
          with a description of what you'd like to accomplish.
      %p
        It can be anything like learning about the markets, improving with a
        specific coding language, help with a project, live pair coding, etc.

        If I'm not able to help you, I'll do my best to connect with you with
        someone who can.

